# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
downloads/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
# Usually these files are written by a python script from a template
# before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Type checkers and linters
.mypy_cache/
.pyre/
.pytype/
.ruff_cache/

# Jupyter Notebook
.ipynb_checkpoints/

# Environments
.env
.env.*
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# pyenv
.python-version

# pipenv
# According to pypa/pipenv, include Pipfile.lock in version control.
#Pipfile.lock

# poetry
# Similar to Pipfile.lock, it is generally recommended to include poetry.lock.
#poetry.lock

# PDM
.pdm.toml
__pypackages__/

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# macOS and Linux metadata
.DS_Store
Thumbs.db

# Logs
*.log

# Local databases
*.sqlite3
*.db

# Local runtime files
*.pid
*.seed
*.out


helm/charts